/// Extra-Small breakpoint
$x-small: 360px;

/// Small breakpoint
$small: 480px;

/// Sub medium breakpoint
$sub-medium: 600px;

/// Medium breakpoint
$medium: 960px;

/// Large breakpoint
$large: 1080px;